html, body {
    margin: 0;
    padding: 0;
}

.video-item {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.right-bar {
    max-height: 100vh;
    padding-left: 20px;
    overflow: auto;
}

.right-bar .list-container {
    padding-top: 30px;
}

.list-item {
    margin-bottom: 20px;
}